body {
  margin: 0px;
  padding: 0px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #FE9797;
}

.navbar {
  background-color: #560764;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.navbar p {
  margin-left: 10px;
  color: #DD5B82;
}
.navbar .icons {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}
.navbar .icon-butt {
  background-color: transparent;
  border-style: none;
  color: #DD5B82;
}

.main-section {
  background-color: #FE9797;
  width: 100%;
  height: auto;
}
.main-section article {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.main-section article .info-section .info-section-title {
  margin: 0;
  padding: 20px 10px 10px 10px;
  color: #913175;
}
.main-section article .info-section .info-section-text {
  padding: 0 10px 10px 10px;
  color: #913175;
}
.main-section article .info-section .info-section-button {
  margin: 0 20px 20px 20px;
  padding: 5px;
  border-radius: 20px;
  border-style: none;
  width: 120px;
  height: 35px;
  background-color: #560764;
  color: #DD5B82;
}
.main-section article .image-section {
  margin: 60px 10px 10px 10px;
  width: 300px;
  height: 300px;
}
.main-section article .image-section img {
  width: 100%;
}
.main-section .product-section {
  color: #913175;
}
.main-section .product-section .healthcare h2, .main-section .product-section .furniture h2 {
  margin: 50px 10px 20px 10px;
}
.main-section .product-section .healthcare .product-card-container, .main-section .product-section .furniture .product-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.main-section .product-section .healthcare .product-card-container .product-card, .main-section .product-section .furniture .product-card-container .product-card {
  width: 200px;
  height: auto;
  margin: auto;
  border-radius: 20px;
  background-color: #913175;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .product-section .healthcare .product-card-container .product-card .product-card-image, .main-section .product-section .furniture .product-card-container .product-card .product-card-image {
  text-align: center;
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/bobbin-5312807_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .product-section .healthcare .product-card-container .product-card .product-card-text, .main-section .product-section .furniture .product-card-container .product-card .product-card-text {
  background-color: transparent;
  color: #FE9797;
}
.main-section .product-section .healthcare .product-card-container .product-card .product-card-text h3, .main-section .product-section .furniture .product-card-container .product-card .product-card-text h3 {
  margin: 15px;
}
.main-section .product-section .healthcare .product-card-container .product-card .product-card-text p, .main-section .product-section .furniture .product-card-container .product-card .product-card-text p {
  margin: 0 15px 15px 15px;
}
.main-section .product-section .healthcare .product-card-container .product-card .product-card-image-2, .main-section .product-section .furniture .product-card-container .product-card .product-card-image-2 {
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/button-3531014_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .product-section .healthcare .product-card-container .product-card .product-card-image-3, .main-section .product-section .furniture .product-card-container .product-card .product-card-image-3 {
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/buttons-6980831_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .product-section .healthcare .product-card-container .product-card .product-card-image-4, .main-section .product-section .furniture .product-card-container .product-card .product-card-image-4 {
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/crafts-56983_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .product-section .healthcare .product-card-container .product-card .product-card-image-5, .main-section .product-section .furniture .product-card-container .product-card .product-card-image-5 {
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/decoration-3312556_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .product-section .healthcare .product-card-container .product-card .product-card-image-6, .main-section .product-section .furniture .product-card-container .product-card .product-card-image-6 {
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/design-2682515_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .product-section .furniture h2 {
  margin: 50px 10px 20px 10px;
}
.main-section .product-section .furniture .product-card-container .product-card {
  width: 200px;
  height: auto;
  margin: auto;
  border-radius: 20px;
  background-color: #DD5B82;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .product-section .furniture .product-card-container .product-card .product-card-image {
  text-align: center;
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/dog-77424_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .product-section .furniture .product-card-container .product-card .product-card-text {
  background-color: transparent;
  color: #560764;
}
.main-section .product-section .furniture .product-card-container .product-card .product-card-text h3 {
  margin: 15px;
}
.main-section .product-section .furniture .product-card-container .product-card .product-card-text p {
  margin: 0 15px 15px 15px;
}
.main-section .product-section .furniture .product-card-container .product-card .product-card-image-2 {
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/knitting-2225184_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .product-section .furniture .product-card-container .product-card .product-card-image-3 {
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/pinning-630911_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .product-section .furniture .product-card-container .product-card .product-card-image-4 {
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/sewing-1229708_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .product-section .furniture .product-card-container .product-card .product-card-image-5 {
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/sewing-1229710_1280.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .product-section .furniture .product-card-container .product-card .product-card-image-6 {
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/sewing-2321532_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .about-section {
  color: #913175;
}
.main-section .about-section .why-us h2 {
  margin: 50px 10px 20px 10px;
}
.main-section .about-section .why-us div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.main-section .about-section .why-us div .earth {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .about-section .why-us div .earth i {
  margin: 10px;
  padding: 20px;
}
.main-section .about-section .why-us div .earth p {
  width: 150px;
  margin: 10px;
}
.main-section .about-section .why-us div .innovation {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .about-section .why-us div .innovation i {
  margin: 10px;
  padding: 20px;
}
.main-section .about-section .why-us div .innovation p {
  width: 150px;
  margin: 10px;
}
.main-section .about-section .gallery h2 {
  margin: 50px 10px 20px 10px;
}
.main-section .about-section .gallery .gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.main-section .about-section .gallery .gallery-container .gallery-img-1 {
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/spools-of-thread-5312806_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 200px;
}
.main-section .about-section .gallery .gallery-container .gallery-img-2 {
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/stars-5643452_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 200px;
}
.main-section .about-section .gallery .gallery-container .gallery-img-3 {
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/tailoring-4184683_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 200px;
}
.main-section .about-section .location h2 {
  margin: 20px 10px;
}
.main-section .about-section .location div {
  display: flex;
  flex-wrap: wrap;
}
.main-section .about-section .location div img {
  width: 90%;
  margin: auto;
}
.main-section .about-section .location p {
  font-weight: bold;
}

footer {
  color: #DD5B82;
  background-color: #560764;
  width: 100%;
  height: auto;
}
footer h3 {
  margin: 20px 10px;
}
/*Responsive section*/
@media (min-width: 768px) {
  .main-section {
    width: 768px;
    height: 100vh;
    margin: auto;
  }
  .main-section article {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .main-section article .info-section {
    width: 50%;
  }
  .main-section article .info-section .info-section-title {
    margin-top: 50px;
  }
  .main-section article .image-section {
    height: 50%;
  }
  .main-section .about-section .why-us div {
    flex-wrap: nowrap;
    gap: 5px;
    margin: 10px 5px;
  }
  .main-section .about-section .why-us div .earth {
    flex-direction: row;
  }
  .main-section .about-section .why-us div .innovation {
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */