body {
  margin: 0px;
  padding: 0px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #FE9797;
}

.navbar {
  background-color: #560764;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.navbar p {
  margin-left: 10px;
  color: #DD5B82;
}
.navbar .icons {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}
.navbar .icon-butt {
  background-color: transparent;
  border-style: none;
  color: #DD5B82;
}

.main-section {
  background-color: #FE9797;
  width: 100%;
  height: auto;
}
.main-section article {
  display: flex;
  flex-direction: column-reverse;
}
.main-section article .info-section .info-section-title {
  margin: 0;
  padding: 15px 10px 10px 10px;
  color: #913175;
}
.main-section article .info-section .info-section-text {
  padding: 0 10px 10px 10px;
  color: #913175;
}
.main-section article .info-section .info-section-button {
  margin: 0 20px 20px 20px;
  padding: 5px;
  border-radius: 20px;
  border-style: none;
  width: 120px;
  height: 35px;
  background-color: #560764;
  color: #DD5B82;
}
.main-section article .image-section {
  margin: 60px 10px 10px 10px;
  width: 300px;
  height: 300px;
}
.main-section article .image-section img {
  width: 100%;
}
.main-section .product-section {
  color: #913175;
}
.main-section .product-section .healthcare h2, .main-section .product-section .furniture h2 {
  margin: 20px 10px;
}
.main-section .product-section .healthcare .product-card, .main-section .product-section .furniture .product-card {
  width: 200px;
  height: auto;
  margin: auto;
  border-radius: 20px;
  background-color: #913175;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .product-section .healthcare .product-card .product-card-image, .main-section .product-section .furniture .product-card .product-card-image {
  text-align: center;
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/teaching_classroom.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .product-section .healthcare .product-card .product-card-text, .main-section .product-section .furniture .product-card .product-card-text {
  background-color: transparent;
  color: #FE9797;
}
.main-section .product-section .healthcare .product-card .product-card-text h3, .main-section .product-section .furniture .product-card .product-card-text h3 {
  margin: 15px;
}
.main-section .product-section .healthcare .product-card .product-card-text p, .main-section .product-section .furniture .product-card .product-card-text p {
  margin: 0 15px 15px 15px;
}
.main-section .product-section .furniture .product-card {
  width: 200px;
  height: auto;
  margin: auto;
  border-radius: 20px;
  background-color: #DD5B82;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .product-section .furniture .product-card .product-card-image {
  text-align: center;
  margin: 10px 0;
  width: 90%;
  height: 200px;
  background-image: url(../img/teaching_classroom.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.main-section .product-section .furniture .product-card .product-card-text {
  background-color: transparent;
  color: #560764;
}
.main-section .product-section .furniture .product-card .product-card-text h3 {
  margin: 15px;
}
.main-section .product-section .furniture .product-card .product-card-text p {
  margin: 0 15px 15px 15px;
}
.main-section .about-section {
  color: #913175;
}
.main-section .about-section .why-us h2 {
  margin: 20px 10px;
}
.main-section .about-section .why-us div {
  flex-wrap: wrap;
  display: flex;
  gap: 5px;
}
.main-section .about-section .why-us div .earth {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .about-section .why-us div .earth i {
  margin: 10px;
  padding: 20px;
}
.main-section .about-section .why-us div .earth p {
  margin: 10px;
}
.main-section .about-section .why-us div .innovation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .about-section .why-us div .innovation i {
  margin: 10px;
  padding: 20px;
}
.main-section .about-section .why-us div .innovation p {
  margin: 10px;
}
.main-section .about-section .gallery h2 {
  margin: 20px 10px;
}
.main-section .about-section .location h2 {
  margin: 20px 10px;
}
footer {
  color: #DD5B82;
  background-color: #560764;
  width: 100%;
  height: auto;
}
footer h3 {
  margin: 20px 10px;
}
/*Responsive section*/
@media (min-width: 768px) {
  .main-section {
    width: 768px;
    height: 100vh;
    margin: auto;
  }
  .main-section article {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .main-section article .info-section {
    width: 50%;
  }
  .main-section article .info-section .info-section-title {
    margin-top: 50px;
  }
  .main-section article .image-section {
    height: 50%;
  }
  .main-section .about-section .why-us div {
    flex-wrap: nowrap;
    gap: 5px;
    margin: 10px 5px;
  }
  .main-section .about-section .why-us div .earth {
    flex-direction: row;
  }
  .main-section .about-section .why-us div .innovation {
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */