$primary-color:#560764;
$secondary-color: #913175;
$terciary-color: #FE9797;
$primary-text-color:  #DD5B82;

$font-stack: 'IBM Plex Sans', sans-serif;

body {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: $primary-color;
    width: 100%;
    height: 50px;   
    display: flex;
    justify-content: space-between;    
}

.navbar p {
    margin-left: 10px;
    color: $primary-text-color;
    font-family: $font-stack;
}
 
.icons {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.icon-butt {
    background-color: transparent;
    border-style: none;
    color: $primary-text-color;
}
.main-section {
    background-color: $terciary-color;
    width: 100%;
    height: auto;
}

.info-section-title {
    font-family: $font-stack;
    margin: 0;
    padding: 15px 10px 10px 10px;
    color: $secondary-color;
}

.info-section-text {
    font-family: $font-stack;
    padding: 0 10px 10px 10px;
    color: $secondary-color;
}

.info-section-button {
    font-family: $font-stack;
    margin: 0 20px 20px 20px;
    padding: 5px;
    border-radius: 20px;
    border-style: none;
    width: 120px;
    height: 35px;
    background-color: #560764;
    color: whitesmoke;
}

.image-section {
    margin: auto;
    width: 300px;
    height: 300px;
}
.image-section img {
    width: 100%;
}

.healthcare {
    font-family: $font-stack;
}


footer {
    font-family: $font-stack;
    background-color: $primary-color;
    width: 100%;
    height: 50px;
}