$primary-color:#560764;
$secondary-color: #913175;
$terciary-color: #FE9797;
$primary-text-color:  #DD5B82;

$font-stack: 'IBM Plex Sans', sans-serif;

@mixin background-card($color-backg) {
    width: 200px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    background-color: $color-backg;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin image-card($img-url) {
    margin: 10px 0;
    width: 90%;
    height: 200px;
    background-image: $img-url;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

@mixin text-card($text-color) {
    background-color: transparent;
    color: $text-color;
    h3{
        margin: 15px;
    }
    p{
        margin: 0 15px 15px 15px;
    }
}

body{
    margin: 0px;
    padding: 0px;
    font-family: $font-stack;
    background-color: $terciary-color;

}

.navbar{
    background-color: $primary-color;
    width: 100%;
    height: 50px;   
    display: flex;
    justify-content: space-between;  
    position: fixed;  
    p{
        margin-left: 10px;
        color: $primary-text-color;
    }
    .icons{
        display: flex;
        justify-content: space-between;
        margin-right: 5px;
    }
    .icon-butt{
        background-color: transparent;
        border-style: none;
        color: $primary-text-color;
    }
}


.main-section{
    background-color: $terciary-color;
    width: 100%;
    height: auto;    
    article{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .info-section{
            .info-section-title{
                margin: 0;
                padding: 20px 10px 10px 10px;
                color: $secondary-color;
            }    
            .info-section-text{
                padding: 0 10px 10px 10px;
                color: $secondary-color;
            }    
            .info-section-button{
                margin: 0 20px 20px 20px;
                padding: 5px;
                border-radius: 20px;
                border-style: none;
                width: 120px;
                height: 35px;
                background-color: #560764;
                color: $primary-text-color;
            }
        }
    
        .image-section{
            margin: 60px 10px 10px 10px;
            width: 300px;
            height: 300px;    
            img {
                width: 100%;
            }
        }
    }
    .product-section{
        color: $secondary-color;
        .healthcare{
            h2{
                margin: 50px 10px 20px 10px;
            }
            .product-card-container{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                .product-card{
                    @include background-card($secondary-color);                
                    .product-card-image{
                        text-align: center;
                        @include image-card(url(../img/bobbin-5312807_640.jpg));
                    }
                    .product-card-text{
                        @include text-card($terciary-color);
                    }
                }
                .product-card{
                    .product-card-image-2{
                        @include image-card(url(../img/button-3531014_640.jpg));
                    }
                }
                .product-card{
                    .product-card-image-3{
                        @include image-card(url(../img/buttons-6980831_640.jpg));
                    }
                }
                .product-card{
                    .product-card-image-4{
                        @include image-card(url(../img/crafts-56983_640.jpg));
                    }
                }
                .product-card{
                    .product-card-image-5{
                        @include image-card(url(../img/decoration-3312556_640.jpg));
                    }
                }
                .product-card{
                    .product-card-image-6{
                        @include image-card(url(../img/design-2682515_640.jpg));
                    }
                }
            }
        }
        .furniture{
            @extend .healthcare;
            h2{
                margin: 50px 10px 20px 10px;
            }
            .product-card-container{
                .product-card{
                    @include background-card($primary-text-color);                
                    .product-card-image{
                        text-align: center;
                        @include image-card(url(../img/dog-77424_640.jpg));
                    }
                    .product-card-text{
                        @include text-card($primary-color);
                    }
                }
                .product-card{
                    .product-card-image-2{
                        @include image-card(url(../img/knitting-2225184_640.jpg));
                    }
                }
                .product-card{
                    .product-card-image-3{
                        @include image-card(url(../img/pinning-630911_640.jpg));
                    }
                }
                .product-card{
                    .product-card-image-4{
                        @include image-card(url(../img/sewing-1229708_640.jpg));
                    }
                }
                .product-card{
                    .product-card-image-5{
                        @include image-card(url(../img/sewing-1229710_1280.jpg));
                    }
                }
                .product-card{
                    .product-card-image-6{
                        @include image-card(url(../img/sewing-2321532_640.jpg));
                    }
                }
            }

        }
    }
    .about-section{
        color: $secondary-color;        
        .why-us{
            h2{
                margin: 50px 10px 20px 10px;
            }    div{
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                .earth{
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    i{
                        margin: 10px;
                        padding: 20px;
                    }
                    p{
                        width: 150px;
                        margin: 10px;
                    }
                }
                .innovation{
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    i{
                        margin: 10px;
                        padding: 20px;
                    }
                    p{
                        width: 150px;
                        margin: 10px;
                    }
                }
            }
        }
        .gallery{
            h2{
                margin: 50px 10px 20px 10px;
            }
            .gallery-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 5px;
                .gallery-img-1{
                    @include image-card(url(../img/spools-of-thread-5312806_640.jpg));
                    width: 200px;
                }
                .gallery-img-2{
                    @include image-card(url(../img/stars-5643452_640.jpg));                    
                    width: 200px;
                }
                .gallery-img-3{
                    @include image-card(url(../img/tailoring-4184683_640.jpg));                    
                    width: 200px;
                }
            }
        }
        .location{
            h2{
                margin: 20px 10px;
            }   
            div{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                img{
                    width: 80%;
                    margin: auto;
                }
            }   
            p{
                margin: 20px;
                font-weight:bold;
            } 
        }
    }
}


footer{
    color: $primary-text-color; 
    background-color: $primary-color;
    width: 100%;
    height: 151px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    div{   
        h3{
            margin-left: 10px;
        }
        p{
            margin: 10px;
        }
    }
    .social-media{
        .fa-facebook{
            margin: 5px;
        }
        .fa-instagram{
            margin: 5px;
        }
    }
}


/*Responsive section*/

@media (min-width: 768px) {
    .main-section {
        width: 768px;
        margin: auto;
        article{
            flex-direction:row;
            align-items: center;
            justify-content: space-around;
            .info-section{
                width: 50%;
                .info-section-title{
                    margin-top: 50px;
                }    
            }
        
            .image-section{
                height: 50%;
            }
        }

        .about-section{
            .why-us{
                h2{
                }
                div{
                    flex-wrap: nowrap;
                    gap: 5px;
                    margin: 10px 5px;
                    .earth{
                        flex-direction: row;
                    }
                    .innovation{
                        flex-direction: row;
                    }
                }
            }            
        }
        
    }
    footer{
        height: 151px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        div{
            h3{
                margin-left: 10px;
             }
             p{
                margin: 10px;
            }
        }
        .social-media{

        }
    }
}
